---


import {
  Bind,
  BindForm,
  BButton,
  BInput,
  BSelect,
  BOption,
  BTextarea
} from "@astro-utils/forms/forms.js";

import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/atoms/Footer.astro";
import BackTop from "../components/atoms/BackTop.astro";
import TwitterCard from "../components/cards/TwitterCard.astro";
import TelegramCard from "../components/cards/TelegramCard.astro";
import Typography from "../components/atoms/Typography.astro";
import Button from "../components/atoms/Button.astro";
import {sendMail} from "../utils/send_mail"

type Form = {
  name: string;
  lastname?: string;
  email: string;
  motive: string;
  message: string;
};

const form = Bind<Form>();
function formSubmit(e) {
  console.log(form);

  sendMail();
}
---

<BaseLayout>
  <script>document.querySelector("form")?.addEventListener('submit',(e)=>e.preventDefault())</script>
  <section class="flex flex-col md:flex-row px-16 p-20">
    <div class="md:w-1/2">
      <Typography variant="h2">Contactános</Typography>
      <Typography variant="p"
        >Estamos felices de que nos quieras enviar un saludo una consulta por
        datos o algún mail en particular.
      </Typography>
      <div class="md:mr-8 gap-2 flex flex-col my-8">
        <BindForm bind={form}>
          <!-- {showSubmitText} -->
          <div class="mb-4 flex flex-col md:flex-row gap-4">
            <div class="w-full">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="username"
                aria-required="true"
              >
                Nombre*
              </label>
              <BInput
                type="text"
                name="name"
                id="username"
                placeholder="Nombre"
                maxlength={40}
                class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                required
              />
            </div>
            <div class="w-full">
              <label
                class="block text-gray-700 text-sm font-bold mb-2 font-sans"
                for="lastname"
              >
                Apellido
              </label>
              <BInput
                type="text"
                name="lastname"
                id="lastname"
                placeholder="Apellido"
                class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                maxlength={40}
              />
            </div>
          </div>
          <label
            class="block text-gray-700 text-sm font-bold mb-2 font-sans"
            for="email"
          >
            Correo*
          </label>
          <BInput
            type="email"
            name="email"
            id="email"
            placeholder="micorreo@gmail.com"
            class="shadow appearance-none border rounded-lg font-sans w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            maxlength={120}
            required
          />
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="motive"
          >
            Motivo*
          </label>
          <BSelect
            id="motive"
            name="motive"
            required={true}
            type="string"
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          >
            <BOption  selected />
            <BOption>Solicitar datos de la red</BOption>
            <BOption>Colaboración en investigación</BOption>
            <BOption>Información sobre pasantías (FIUNA)</BOption>
            <BOption>Qué hacer en caso de AQI muy altos</BOption>
            <BOption>Pedido sobre información de Salud </BOption>
          </BSelect>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
            Mensaje*
          </label>
          <BTextarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-8"
            id="message"
            placeholder="Escribe tu mensaje..."
            rows="8"
            name="message"
            required
            aria-required="true" />
          <BButton
            onClick={formSubmit}
            whenFormOK
            as={Button}
            props={{ text: "Enviar", variant: "color" }}>Submit</BButton
          >
        </BindForm>
      </div>
    </div>
    <div class="grid grid-row-4 md:w-1/2 gap-4 mt-[1/2] ">
      <div class="row-span-2 md:h-60"></div>
      <div class="row-span-1 rounded-lg overflow-clip">
          <TelegramCard />
      </div>
      <div class="row-span-1 rounded-lg overflow-clip">
          <TwitterCard />
      </div>
  </div>
  </section>
  <BackTop />
  <Footer />
</BaseLayout>
