---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/atoms/Footer.astro";
import BackTop from "../components/atoms/BackTop.astro";
import { RESEARCH_PAPERS } from "../data/research";
import Link from "../components/atoms/Link.astro";
import Fiuna from "../assets/logos/fiuna_green.svg";
import { Image } from "astro:assets";
import { EXTERNAL_RESOURCES_IMAGES } from "../data/images";
import Typography from "../components/atoms/Typography.astro";
---

<BaseLayout>
    <section
        class="grid md:grid-cols-3 md:p-20 p-12 gap-4 md:my-16 place-items-center"
    >
        <div class="md:col-span-2 sm:row-span-2 space-y-4 justify-stretch">
            <Typography variant="h6">¿De dónde son nuestros datos?</Typography>
            <Typography variant="h2">
                Red de Monitoreo de la Calidad del Aire - FIUNA
            </Typography>
            <Typography variant="p">
                La Red de Monitoreo de la Calidad del Aire de la Facultad de
                Ingeniería de la Universidad Nacional de Asunción (FIUNA) es un
                proyecto financiado por la CONACYT que comprende la instalación
                y mantenimiento de una red de sensores de calidad del aire en el
                área metropolitana de Asunción. Sus diez estaciones de monitoreo
                recolectan desde el año 2019 mediciones de Material Particulado
                (MP) y parámetros climáticos como temperatura, humedad y presión
                atmosférica.
            </Typography>
            <Typography variant="p">
                Los datos recolectados por esta red alimentan los datos de
                monitoreo y pronóstico de calidad del aire de AireAcción, y han
                sido utilizados para realizar investigaciones de alto impacto
                sobre el problema de la calidad del aire en nuestra región.
            </Typography>
        </div>
        <Image alt="" src={Fiuna} class="m-auto justify-center flex h-100" loading="lazy"  />
    </section>
    <section class="bg-black p-20 pb-32">
        <Typography  variant="h2"  color="white">
            Investigaciones realizadas
        </Typography>
        {
            RESEARCH_PAPERS.map((research) => (
                <div class="py-6">
                    <Link
                        text={research.title}
                        href={research.link}
                        customClass="text-lg text-white"
                        variant="light"
                    />
                    <Typography variant="p-sm" color="white" customClass="pt-2">{research.authors}</Typography>
                </div>
            ))
        }
    </section>
    <section class="flex flex-col md:p-20 p-16 gap-4 my-16">
        <Typography variant="h2" customClass="pb-12">Recursos Externos</Typography>
        <div class="grid md:grid-cols-4 gap-10">
            
            {
                EXTERNAL_RESOURCES_IMAGES.map((resource, index) => (
                    <a
                        class="flex flex-col md:my-4 justify-center"
                        href={resource.link}
                        target="_blank"
                    >
                        <Image alt={resource.alt} src={resource.path}  loading="lazy" />
                    </a>
                  
                    <a
                        class={`md:order-last mb-4 md:m-0`}
                        href={resource.link}
                        target="_blank"
                    >
                        <Typography variant="label" customClass="underline">
                            {resource.text}
                        </Typography>
                    </a>
                )   )
            }
        </div>
    </section>
    <BackTop />
    <Footer />
</BaseLayout>
