---
import { undefined } from "astro:schema";
import Typography from "../../components/atoms/Typography.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { stations } from "../../store/map";
import Footer from "../../components/atoms/Footer.astro";
import { HistoricLineChart } from "../../components/react/data-viz/HistoricLineChart.tsx";
import { BoxPlotChart } from "../../components/react/data-viz/BoxPlotChart.tsx";

import { loadingStations } from "../../store/map";
import { statisticsSelectedStation } from "../../store/statistics";
import PlaceHolderMap from "../../components/react/PlaceholderMap";
import BackTop from "../../components/atoms/BackTop.astro";

export const prerender = false;

const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");
const stationsLoading = loadingStations.get();

const availableStations = stations.get();
const station = availableStations?.find((s) =>
  s.id === parseInt(slug) ? s : undefined
);
if (!station) return Astro.redirect("/404");
statisticsSelectedStation.set(station);

---

<BaseLayout>
  <section class="flex flex-col md:px-20 px-10 pt-12">
    <Typography variant="h2">Estación {station.id}</Typography>
    <Typography variant="h3" customClass="font-normal"
      >Estación {station.name}</Typography
    >
    <hr class="h-px my-8 bg-gray-200 border-1 dark:bg-gray-700" />
    <div
      class="grid md:grid-cols-3 grid-cols-1 md:space-x-12 md:space-y-0 space-y-6"
    >
      <div class="rounded-lg overflow-clip">
        <PlaceHolderMap client:only="react" />
      </div>
      <div class="flex flex-col">
        <Typography variant="h4" color="black">Características</Typography>
        <div
          class="grid md:grid-cols-3 grid-cols-2 space-y-3 mt-4 col-span-1.5"
        >
          <Typography variant="h6" customClass="font-serif col-span-1"
            >Localidad</Typography
          >
          <Typography variant="p" customClass="md:col-span-2"
            >{station.name}</Typography
          >
          <Typography variant="h6" customClass="font-serif  col-span-1"
            >Region</Typography
          >
          <Typography variant="p" customClass="md:col-span-2"
            >{station.region.name}</Typography
          >
          <Typography variant="h6" customClass="font-serif  col-span-1"
            >Estado</Typography
          >
          <div class="bg-aqi-green-dark w-fit px-2 rounded-lg md:col-span-2">
            Activo
          </div>
          <Typography variant="h6" customClass="font-serif col-span-1"
            >Última medición AQI</Typography
          >
          <Typography variant="p" customClass="md:col-span-2"
            >{station.aqi_pm2_5}</Typography
          >
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col md:px-20 px-10 pt-12">
    <Typography variant="h2">Estadísticas</Typography>
    <Typography variant="h3" customClass="pt-10"
      >Mediciones históricas de calidad de aire (AQI)</Typography
    >
    <Typography variant="p"
      >Mediciones de calidad de aire grabadas por los sensores y predicciones de
      las próximas 6 y 12 horas.</Typography
    >
    <div class="h-[450px] w-full">
      <HistoricLineChart client:only="react" />
    </div>
    <Typography variant="h3" customClass="pt-10"
      >Histórico: Índice de calidad del aire</Typography
    >
    <Typography variant="p">Historial de mediciones de los sensores.</Typography
    >
    <div class="grid md:grid-cols-2  grid-cols-1 mt-12 col-span-4 space-x-4 space-y-4 ">
      <div class="cols-span-1">
        <Typography variant="h6">Última semana</Typography>
        <div class="h-[450px] w-full">
          <BoxPlotChart client:only="react" period="7d"/>
        </div>
      </div>
      <div class="cols-span-1">
        <Typography variant="h6">Último mes</Typography>
        <div class="h-[450px] w-full">
          <BoxPlotChart client:only="react" period="30d" />
        </div>
      </div>
      <div class="cols-span-2">
        <Typography variant="h6">Último año</Typography>
        <div class="h-[450px] w-full">
          <BoxPlotChart client:only="react" period="1y"/>
        </div>
      </div>
    </div>
  </section>
  <BackTop />

  <Footer />
</BaseLayout>
