---
import { Image } from "astro:assets";
import { FOOTER_IMAGES, SOCIAL_MEDIA_IMAGES } from "../../data/images";
import Typography from "./Typography.astro";
import { CONTACT_MAIL } from "../../data/constants";
import { FOOTER_MENU, type MenuItem } from "../../data/menu";
import { BASE_URL } from "../../data/constants";

const getRoute = (route: string | MenuItem[]): string => {
  if (typeof route !== "string") {
    return "";
  }
  return route.includes("https://") ? route : BASE_URL + route;
};
---

<div
  class="bg-black h-auto w-full flex md:flex-row flex-col-reverse md:p-36 p-12"
>
  <div class="flex flex-col w-full md:mr-44">
    <p class="text-white text-xl font-bold font-serif">Una colaboración de</p>
    <div class="grid md:divide-x text-white md:grid-cols-4 md:mt-8 max-w-sm">
      {
        FOOTER_IMAGES.map((image) => (
          <div class="first:pl-0 md:px-4 even:col-span-2 md:py-0 py-4 first:justify-start md:justify-center flex">
            <Image alt={image.alt} src={image.path} class={image.class} />
          </div>
        ))
      }
    </div>
    <p class="text-white md:mt-4 mt-8">
      Escribinos a <a
        href=`https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=${CONTACT_MAIL}`
        target="_blank"><b class="text-lg"><u>{CONTACT_MAIL}</u></b></a
      >
    </p>

    <div class="flex flex-row gap-1 text-center md:align-middle md:mt-4">
      <p class="text-white text-center">Seguinos en</p>
      {
        SOCIAL_MEDIA_IMAGES.map((img) => (
          <a href={img.link} target="_blank">
            <Image alt={img.alt} src={img.path} class={img.class} />
          </a>
        ))
      }
    </div>
  </div>
  <div class="flex grid w-full md:grid-cols-2 py-8 gap-4">
    {
      FOOTER_MENU.map((item) => {
        if (typeof item.route !== "string") {
          return (
            <div>
              <Typography
                variant="h4"
                customClass="text-white opacity-70 text-xl"
              >
                {item.title}
              </Typography>
              {item.route.map((i) => (
                <a href={getRoute(i.route)}>
                  <p class="text-white font-sans text-lg pt-6">{i.title}</p>
                </a>
              ))}
            </div>
          );
        } else {
          <a href={getRoute(item.route)}>
            <p class="text-white font-sans text-lg pt-6">{item.title}</p>
          </a>;
        }
      })
    }
  </div>
</div>
